extends layout 

block content
    h1= title
    -let items =results;
    div(class="container-fluid") 
      div(class="row m-1") 
       - let destination1 = `dispatch(\"/grocery/create\")`
       button.btn( class="btn-primary ml-1", onclick= destination1) Create
       each item in items
        - let destination = `dispatch(\"/grocery/update/?id=${item._id}\")`
        - let destination2 = `dispatch(\"/grocery/detail/?id=${item._id}\")`
        - let destination3 = `dispatch(\"/grocery/delete/?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.name}(#{item.quantity}) is #{item.price} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-primary ml-1", onclick= destination2) Detail
          button.btn( class="btn-warning ml-1", onclick= destination3) Delete 
    script. 
      function dispatch(path){ 
        window.location.href=path 
      }